.holidayTagContainer{
    background-color: white;
    color: #FFA500;
    border-radius: 4px;
    padding-left: 3%;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 92%;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}